<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Mini Reddit Listing</title>
</head>
<body>
<!-- Commenting this block out for now
Kim this works!
-->
<a href="/add">Add a Mini-Reddit Entry</a><br />
<table>
    <tr>
        <th>Description</th>
        <th>URL</th>
        <th>Name</th>
        <th>Date</th>
    </tr>
<tr th:each="reditrec :${reditrecs}">
    <td th:text="${reditrec.title}"></td>
    <td th:text="${reditrec.url}"></td>
    <td th:text="${reditrec.name}"></td>
    <td th:text="${reditrec.curDate}"></td>
 </tr>

</table>
</body>
</html>