<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Mini Reddit Entry Form</title>
</head>
<body>
<form action="#"
    th:action="@{/process}"
    th:object="${reditrec}"
    method="post">
    <input type="hidden" th:field="*{id}" />
      Title :<input type="text" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}"></span><br />
    URL :<input type="text" th:field="*{url}" />
    <span th:if="${#fields.hasErrors('url')}"
          th:errors="*{url}"></span><br />
    Full Name :<input type="text" th:field="*{name}" />
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"></span><br />
    Current Date :<input type="text" th:field="*{curDate}" />
    <span th:if="${#fields.hasErrors('curDate')}"
          th:errors="*{curDate}"></span><br />
    <input type="submit" value="Submit" />
  </form>
</body>
</html>